@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=League+Gothic&family=Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Namdhinggo:wght@800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'League Gothic', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    /* overflow-x: hidden; */
}

.text-outline-blue {
    color: white;
    text-shadow: 
      -1px -1px 0 blue,  
      1px -1px 0 blue,
      -1px 1px 0 blue,
      1px 1px 0 blue;
  }